/* ----------------- page style pour projet générator aléatoir */
body {
  margin: 0;
  padding: 0;
}

.color {
  background-color: #39c13c;
  width: 50%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hex1 {
  border-radius: 5px;
  border: solid 1px rgb(255, 255, 255);
}
